<div class="container-fluid">
  <div class="row">
    <div class="nav flex-column nav-pills col-md-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-main" role="tab" aria-controls="v-pills-main" aria-selected="true" (click)="getHTML('./assets/html/creating-templates.html')">Creating a template</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-main" role="tab" aria-controls="v-pills-main" aria-selected="false" (click)="getHTML('./assets/html/another-html.html')">Checking</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-main" role="tab" aria-controls="v-pills-main" aria-selected="false">Testing</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-main" role="tab" aria-controls="v-pills-main" aria-selected="false">Sending an Email</a>
    </div>
    <div class="tab-content col-md-10" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-main" role="tabpanel" aria-labelledby="v-pills-main-tab">
        <div highlight="all">
          <ng-container *ngIf="htmlfile"><div highlight="all" innerHtml="{{htmlfile}}"></div></ng-container>
          <!-- <div><pre><code [textContent]="test"></code></pre></div> -->
          <!-- <ng-container *ngIf="htmlfile"><pre><code highlight [innerHTML]="htmlfile | escapeHTML"></code></pre></ng-container> -->
        </div>  
      </div>
    </div>
  </div>
</div>
